<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt 'i fink you freaky and i like you a lot'}}</p>
        
        {{> footer}}
    </body>
</html>